.ReactModal__Overlay {
  
  opacity: 1;
  transform: scale(0);
}

.ReactModal__Overlay--after-open {
  backdrop-filter: blur(3px);

  opacity: 1;
  transform: scale(1);
}

.ReactModal__Overlay--before-close {
  
  opacity: 1;
  transform: scale(0);
}